<div class="sidebar" data-color="red" data-image="sidebar-4.jpg">

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text" style="font-size:30px;">
                    <strong>Angelytics </strong>
                </a>
                <span id="ldc">Learn Discover Connect</span>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Message Board</p>
                    </a>
                </li>
                <li>
                    <a href="upgrade.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Chat Room</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Chat Window</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
        <li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-rocket"></i>
                        <p>Helping grow</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>
                        <li>
                            <a  <%= link_to "Sign in with Github", "/auth/github" %>  
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>